# Auto detect text files and perform LF normalization
* text=auto
mkdir 17practical
cd 17practical
git init
git add .
git commit -m "Start binary search tree project"

git add tryBST.java
git commit -m "Last commit for binary search tree"
